<section class="content-header">
    <h1>
        SOBRE
        <small>Informações do Site</small>
    </h1>
</section>
<section class="content">
    <h3>Autor</h3>
    <ul>
        <li>Jackson Henrique Mota Teixeira - jacksonhmteixeira@gmail.com
        </li>
    </ul>
    <h3>Framework Utilizado</h3>
    <ul>
        <li>
            Angular
        </li>
        <li>
            AdminLTE - Template
        </li>
        <li>
            Angular material - Template
        </li>
    </ul>
    <h3>Objetivo</h3>
    <ul>
        <li>
            Participar do processo seletivo de desenvolvedor estagiário na Squadra.
        </li>
    </ul>
</section>